
<html lang="en" ng-app="fb_app">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="icon" href="/images/favicon.png">
<link href="/static_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

<!-- custom css for fb theme -->
<link href="/css/fb_theme.css" rel="stylesheet"/>

<!-- Dependencies for Angular ui -->
<title>Furniture Bank</title>
</head>
<body role="document">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Furniture Bank</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Dashboard</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Employee Dashboard
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <!--<li><a href="#">Blog</a></li>-->
                <li><a href="#"></a></li>
                <li><a href="#">Register My Bank</a></li>
                <li role="separator" class="divider"></li>
                <!--<li class="dropdown-header"><h5>Bank Employee:</h5></li>-->
                <!--<li role="separator" class="divider"></li>-->
                <li><a href="#">Login</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
  </div>
    </nav>
<div class="container-fluid">
{{{body}}}
</div>
<footer>
	<div class="row">
		<div class="col-md-12">
			<hr>
			<h5 align="center">Copyright &copy; 2017 Furniture Bank </h5>
		</div>
	</div>
</footer>
</body>
<script src="/static_modules/jquery/dist/jquery.min.js"></script> 
<script src="/static_modules/bootstrap/dist/js/bootstrap.min.js"></script>