<!-- Browse page goes here -->
<div class="row">
    <div class="col-sm-offset-4 col-md-4">
        <h2 class="page_header">Browse Furniture</h2>

      <!-- Placeholder- table should hold item listings -->
    </div>
</div>
