<div class="col-sm-6 col-sm-offset-3">
    <h1 class="page_header">Submit an Item for Donation</h1>
    <form method="post" action="/donate">
        <div class="form-group">
            <label>Type of Furniture:</label>
            <select class="form-control" placeholder="Item" name="itemType">
                <option value="Table">Table</table></option>
                <option value="Dining Chair set">Dining Chair Set</option>
                <option value="Recliner">Recliner</option>
                <option value="Loveseat">Loveseat</option>
                <option value="Sofa">Sofa</option>
                <option value="Dresser">Dresser</option>
                <option value="TV Stand">TV Stand</option>
                <option value="Vanity">Vanity</option>
                <option value="Desk">Desk</option>
                <option value="Other">Other</option>
            </select>
            <div class="form-group">
                <label>Item Description:</label>
                <input type="description" class="form-control" placeholder="Description" name="description">
            </div>
            <div class="form-group">
                <label>Wear:</label>
                <p>(1 is very worn, 10 is like new)</p>
                <select class="form-control" placeholder="Item" name="itemWear">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="form-group">
                <label>Your Name:</label>
                <input type="donor" class="form-control" placeholder="First and Last Name" name="donor">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sucess">Submit</button>
            </div>
        </div>
    </form>
</div>
