<!-- Home Page Goes here -->
<div class="row fb_heading">
    <div class="col-md-4">
        <h2>Looking for Furniture</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <ul class="list-unstyled">
            <li><h4><a href="#">Login</a></h4></li>
            <li><h4><a href="/browse">Browse</a></h4></li>
            <li><h4><a href="#">Make an Appointment</a></h4></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Ready to Donate</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <ul class="list-unstyled">
            <li><h4><a href="#">Login</a></h4></li>
            <li><h4><a href="#">&emsp;Tax Donation Receipt</a></h4></li>
            <li><h4><a href="#">&emsp;Submit an Item</a></h4></li>
            <li><h4><a href="#">&emsp;Schedule a Pickup (if accepted)</a></h4></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Work at a Furniture Bank?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <ul class="list-unstyled">
            <li><h4><a href="#">Login</a></h4></li>
            <li><h4><a href="#">&emsp;Register my Furniture Bank</a></h4></li>
            <li><h4><a href="#">&emsp;Swap Furniture with another Furniture Bank</a></h4></li>
        </ul>
    </div>
</div>
